# ไฟล์/โฟลเดอร์ที่ไม่ต้องการติดตามโดย Git

# ระบบปฏิบัติการ
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Log Files
logs/
*.log

# Virtual Environment
.env/
.venv/
env/
venv/

# Output Files
data/output/
